/*以下是register网页*/
body {
    /*   加入背景图片*/
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    /*    设置图片充满窗口*/
    background-size: 100% 100%;
    /*    设置图片定位为相对定位*/
    background-attachment: fixed;


}
#register {
    width:350px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: #cad3e9;
    /*    透明度*/
    opacity: 0.9;


}

#register input {

    width: 300px;
    height: 40px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 10px;
    margin-left: 20px;


}

/*给注册的按钮上颜色*/
#register input[type="button"]{
    background: #FF7E4F;
    color: #fff;
    /*    设置宽度*/
    width: 315px;
    height: 40px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 20px;
    cursor: pointer;

}

#register input[type="button"]:hover {
    background: #00a2ca;
    color: #fff;
    cursor: pointer;
}
/*h1样式*/
#bigtitle h1 {
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
/*    改变位置*/
    margin-top: 180px;
    margin-left: 30px;

}